<h1>Stupid Coaching</h1>

<div>
  <ol>
    <ul><%= params[:question] %></ul>
    <ul>- You</ul>
  </ol>

  <ol>
    <ul><%=  @answer  %></ul>
    <ul>- Coach</ul>
  </ol>
</div>

<%= link_to 'Ask coach something else?', ask_path %>
hello
